apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${SERVICE_NAME}
  namespace: viai-edge
  labels:
    app: ${SERVICE_NAME}
    gcp-managed-by: ${SERVICE_NAME}
  annotations:
    mledge-deployment: ${SERVICE_NAME}
spec:
  selector:
    matchLabels:
      app: ${SERVICE_NAME}
  template:
    metadata:
      labels:
        app: ${SERVICE_NAME}
    spec:
      imagePullSecrets:
        - name: regcred
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: viai-edge
                operator: In
                values:
                - camera-application
            topologyKey: kubernetes.io/hostname
      containers:
      - image: viai-inference-module
        imagePullPolicy: Always
        name: viai-${SERVICE_NAME}-module
        ports:
        - containerPort: 8602
---
apiVersion: v1
kind: Service
metadata:
  namespace: viai-edge
  name: ${SERVICE_NAME}
spec:
  selector:
    app: ${SERVICE_NAME}
  type: ClusterIP
  ports:
  - protocol: TCP
    port: 8602
    targetPort: 8602
