steps:
  - name: 'gcr.io/cloud-builders/docker'
    args: ['build', '-t', '${CONTAINER_REPO_HOST}/${_REGISTRY_NAME}/viai-camera-integration:${_TAG}', '.']
images: ['${CONTAINER_REPO_HOST}/${_REGISTRY_NAME}/viai-camera-integration:${_TAG}']
substitutions:
    _REGISTRY_NAME: ${CONTAINER_REPO_REPOSITORY_NAME}
    _TAG: ${TAG}
