---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: viai-camera-config
  namespace: viai-edge
spec:
  storageClassName: local-shared
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
...
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: viai-camera-data
  namespace: viai-edge
spec:
  storageClassName: local-shared
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: viai-edge
  name: viai-camera-integration
spec:
  selector:
    matchLabels:
      app: viai-camera-integration
  template:
    metadata:
      labels:
        app: viai-camera-integration
        viai-edge: camera-application
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      restartPolicy: Always
      imagePullSecrets:
        - name: regcred
      volumes:
          - name: google-cloud-service-account-credentials-volume
            secret:
              secretName: pubsubcred
              items:
              - key: .dockerconfigjson
                path: credentials.json
          - name: viai-camera-config-volume
            persistentVolumeClaim:
              claimName: viai-camera-config
          - name: viai-camera-data-volume
            persistentVolumeClaim:
              claimName: viai-camera-data
          - name: dev-video0
            hostPath:
              path: /dev/video0
          - name: dev-video1
            hostPath:
              path: /dev/video1
          - name: dev-video2
            hostPath:
              path: /dev/video2
          - name: dev-video3
            hostPath:
              path: /dev/video3
      containers:
      - name: viai-camera-integration-operations
        image: ${CONTAINER_REPO_HOST}/${GOOGLE_CLOUD_PROJECT}/viai-camera-integration:${VIAI_CAMERA_APP_IMAGE_TAG}
        imagePullPolicy: Always
        env:
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: /.viai-camrea-app-credentials/credentials.json
        command:
          - sleep
          - infinity
        securityContext:
          privileged: true
        volumeMounts:
          - mountPath: "/.viai-camrea-app-credentials"
            name: google-cloud-service-account-credentials-volume
            readOnly: true
          - mountPath: "/var/lib/viai/camera-config"
            name: viai-camera-config-volume
          - mountPath: "/var/lib/viai/camera-data"
            name: viai-camera-data-volume
          - mountPath: "/dev/video0"
            name: dev-video0
          - mountPath: "/dev/video1"
            name: dev-video1
          - mountPath: "/dev/video2"
            name: dev-video2
          - mountPath: "/dev/video3"
            name: dev-video3
...
